doctype html
html(lang="zh-tw")
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-compatible' content='ie=edge,chrome=1')
    meta(name='viewport'
        content='width=device-width'
        height='device-height'
        initial-scale='1'
        minimum-scale='1'
        maximum-scale='1'
        user-scalable='no')
    title 高雄景點地圖
    meta(name='description' content='高雄景點地圖')
    meta(name='author' content='黃俊傑')
    link(rel='canonical' href='https://jack842248.github.io/bmi-calc/')
    link(rel="Shortcut Icon" href="images/favicon.ico")
    link(rel='stylesheet' type="text/css" href='css/bootstrap.css')
    link(rel='stylesheet' type="text/css" href='css/all.css')
    link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')

    link(rel='stylesheet' type="text/css" href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')
    
    link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css')
    link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css')

body
    #map



    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js')
    script(src='js/all.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js')
            